@import '@/style/mixin.scss';
view,
page,
text,
button,
image,
textarea,
scroll-view,input {
	box-sizing: border-box;
}
image {
	display: block;
}
button {
	margin: 0;
	padding: 0;
	background-color: #FFFF;
}
button::after {
	border: none;
}

.cell_list {
	background-color: #fff;
	padding: 30upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1upx solid #f5f5f5;
	&.active:active {
		background-color: #f5f5f5;
	}
	&.interval {
		margin-bottom: 20upx;
		border-bottom: 0;
	}
	&.noLine {
		border-bottom: 0;
	}
	.cell_left {
		font-size: 28upx;
		color: #333333;
		display: flex;
		align-items: center;
		image {
			width: 30upx;
			height: 30upx;
			margin-right: 20upx;
		}
	}
	.cell_right {
		font-size: 28upx;
		color: #333333;
		display: flex;
		align-items: center;
		&.arrow::after {
			content: '';
			@include bis('http://qn.kemean.cn/upload/201907/23/me_lise_more.png', 100% 100%);
			width: 12upx;
			height: 22upx;
			margin-left: 20upx;
		}
		image {
			width: 36upx;
			height: 36upx;
			margin-left: 20upx;
		}
	}
}